/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/

body {
	background-color: rgb(231, 204, 168);
}

h1 {
	font-size: 50px;
	font-family: Montserrat;
}

div#game {
	text-align: center;
	vertical-align: middle;
	display: table;
}

#jeopardy,
#jeopardy thead,
#jeopardy td,
#jeopardy tr {
	border: 1px solid white;
	background-color: #060ce9;
	font-family: IBM Plex Sans;
	color: white;
	font-size: 15px;
	text-align: center;
}

td {
	height: 120px;
	width: 150px;
	color: #74119c;
	vertical-align: middle;
}

tbody td {
	border: 1px solid white;
	text-align: center;
	vertical-align: middle;
	font-size: 10px;
	color: lightgoldenrodyellow;
}

tr.clues {
	height: 120px;
	width: 100%;
	border: 1px solid white;
	text-align: center;
	font-size: 10px;
	color: lightgoldenrodyellow;
	vertical-align: middle;
	display: inline-table;
}
